


h2.headers, h2.copyThis{
  text-align: center;
  margin-bottom: 0;
}
/* span.sectFoot {
  height: 26px;
  width: 26px;
} */
a.topUp {
  background-color: #fff;
  padding: 5px 6px;
  color: #000;
}
