.parallax {
  background-image: url(/imgs/benmodel1.jpg);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -70px;
}
div.navigation {
  margin: 0;
  padding: 0;
  background-color: #eee;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  line-height: 4em;
  width: 100%;

}
span.burgerWrap, span.exWrap,
a.burger, a.ex {display: none;}
div.arena + .fixed-nav{
  padding-top: 60px;
}
div.navigation {
  margin: 0;
  padding: 0;
  background-color: #eee;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  line-height: 4em;
  width: 100%;

}
#nav-list > .list-items {

  height: 100%;
  display: block;
  text-align: center;
  padding: 0 14px;
  text-decoration: none;
}
div.hiDiv {
  color: #fff;
  font-size: 32px;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 510px;
  background-color: #111;
  text-align: center;
  padding: 0 25px;
  width: 421px;
  transition: 0.5s;
}
.hideThis {
  display: none;
}


.fixed-nav div.navigation{
  position: fixed;
  top: 0;
  z-index: 1000;
}
.fixed-nav {
  padding-top: 60px;
}
.active-nav, .list-items:hover {
  background-color: #000;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}
div.logoArea {
  position: fixed;
  top: 0;
  z-index: 1001;
}
a.homecircle > img {
  float: left;
  width: 75px;
}

div.showcase {
  width:39%;
  margin: 19px;
}
div.showText{padding: 20px;}
