html, body {
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
}



div.logoArea {
  line-height: 3em;
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
a.homecircle > img {
  float: left;
  width: 65px;
}

div.sectionss {
  height: 550px;
}

div.photoFrame {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
a.anchorGazz {
  width: 75%;
}
img.aboutPhoto {
  border-radius: 50%;
  width: 100%;
}
div.textFrame {
  padding: 25px;
  text-align: center;
}
div.linkers {
  width: 100%;
  display: flex;
  padding: 25px 0;
  justify-content: center;
  font-size: xx-large;
}

#about-div {
  background-color: #a8a8a8;
}
#portfolio-div {
  background-color: #848484;
}
#blog-div {
  background-color: #707070;
}
#skills-div {
  background-color: #515050;
}
#contact-div {
  background-color: #383636;
}
